ul{
    list-style-type: none;
    margin:0px;
    padding: 0px;
    overflow: hidden;
}
li{
    float:left;

}
li a{
    padding: 20px;
    color:orange;
    background-color: teal;


}
li a:hover{
    background: teal;
}
h2{
    background-color: cyan;
    font-family: "Arial Rounded MT Bold";
    color: brown;
    text-align: center;
    font-size: 50px;
}
p{
    background-color: brown;
    color: aliceblue;
    font-family: "Adobe Caslon Pro Bold";
}
th,td{
    border: 4px solid orange;
    padding: 8px;
    margin: 10px;
    font-family: "Adobe Caslon Pro";

}

    table{border-collapse: collapse;
    width: 100%;

}
    .fruits{
        border: 2px solid orange;
        background: cyan;
        color:yellow;
        text-align: center;
        padding: 5px;
        margin:10px;
    }
    .cars{
        border: 2px solid green;
        background: darkblue;
        color: red;
        padding: 5px;
        margin: 20px;
        text-align: center;
    }
label{
    font-size: 28px;
    color:red;
    padding: 10px;
    margin: 15px;
    font-family: "Adobe Caslon Pro";
    text-align: center;
    width:100%
}
input {
    font-size: 22px;
    color: black;
    padding: 5px;
    margin: 10px;
    font-family: "Adobe Devanagari";
}
select{

    color:blue;
    text-align: center;
    margin:20px;
    font-size: 20px;

}
option{
    font-size: 20px;
    color:cyan;
    margin:10px;
    padding:5px;


}
